/* Greeting.css */
.greeting-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.time-greeting {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(3, 160, 66);
  margin: 0;
  }

.date-greeting {
  font-size: 0.9em;
  color: rgb(3, 160, 66);
  margin: 5px 0 0 0;
  }