* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Add this back */
}

#root {
  width: 420px; /* Fixed width */
  height: 680px; /* Fixed height */
}